@mixin forPC {
    @media screen and (min-width: 980px) {
        @content;
    }
}

.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
    background: rgba($color: #000000, $alpha: 0.5);
    transition: .3s;
    opacity: 0;
    visibility: hidden;

    &.show{
        opacity: 1;
        visibility: visible;
    }

    .popup_block{
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 75%;
        height: 75%;
        max-width: 90%;
        max-height: 90vh;
        background: #fff;
        border:1px solid #000;
        overflow: auto;
        // @include forPC{
        //     top: 50%;
        //     left: 50%;
        //     width: 600px;
        // }
        .title_box{
            font-size: 26px;
            font-weight: bold;
            margin-bottom: 40px;
        }
        .content_box{
            margin-bottom: 10px;
            p{
                font-size: 16px;
                color: #666;
                margin: 0.2rem 0;
                &:last-child{
                    font-weight: bold;
                    margin-top: 1.5rem;
                }
                @include forPC(){
                    font-size: 20px;
                }
            }
        }
        .button_box{
            width: 100%;
            display: flex;
            justify-content: flex-end;
            position: absolute;
            padding: 0;
            right: 0;
            bottom: 0;
            .close_btn{
                font-weight: bold;
                cursor: pointer;
                transition: .3s;
                font-size: 2rem;
                color: #fff;
                width: 30px;
                height: 30px;
                background-color: rgb(217, 170, 114);
                display: flex;
                justify-content: center;
                align-items: center;
                @include forPC(){
                    width: 50px;
                    height: 50px;
                    font-size: 3rem;
                }
            }
        }
        .contentWrap{
            display: flex;
            flex-direction: column;
            position: relative;
            >img{
                width: 100%;
                height: auto;
            }
            .forButton{
                padding: 40px 20px;
            }
            @include forPC(){
                flex-direction: row;
                >img{
                    padding: 40px 0 0 20px;
                    width: 50%;
                    height: 40%;
                    max-height: 50%;
                    margin-right: 0.5rem;
                }
                .forButton{
                    width: 50%;
                    margin-left: 0.5rem;
                }
            }
        }
    }
}