@mixin forM {
    @media screen and (max-width: 980px) {
        @content;
    }
}

.kv{
    position: relative;
    height: 100%;
    width: 100%;
    .kv_header {
        height: 10%;
        width: 50%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        font-weight: bold;
        @include forM(){
            width: 100%;
            padding: 2%;
            font-size: 10px;
            align-items: start;
            justify-content: start;
        }
    }
    .kv_body {
        height: 70%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 1;
        .link_web {
            display: block;
            text-align: center;
            font-family: sans-serif;
            line-height: 1.14;
            font-size: 30px;
            font-weight: 500;
            position: relative;
            top: 13px;
            color: #000;
            @include forM(){
                font-size: 16px;
               
            }
        }
        .title {
            width: 100%;
            height: 200px;
            text-indent: -9999px;
            display: block;
            margin: 0 auto;
            margin: 2.5rem 0;
            background: url(../images/kv/logo.png) no-repeat center;
            background-size: contain;
            @include forM(){
                width: 50%;
                height: 140px;
                margin: 0;
            }
        }
        .subtitleIsPC {
            font-size: 2.5rem;
            font-weight: bold;
            line-height: 1.1;
            letter-spacing: 2.5px;
            font-weight: bold;
            color: #000;
            text-align: center;
            display: block;
            margin: 0 auto;
            @include forM(){
                display: none;
            }
        }
        .subtitleIsM {
            font-size: 2.5rem;
            font-weight: bold;
            line-height: 1.1;
            letter-spacing: 2.5px;
            font-weight: bold;
            color: #000;
            text-align: center;
            display: block;
            margin: 0 auto;
            display: none;
            @include forM(){
                display: block;
            }
        }
    }
    .kv_img_left{
        position: absolute;
        left: -6.3rem;
        width: 42%;
        height: auto;
        @include forM(){
            left: -8.3rem;
            bottom: -6.1rem;
            width: 100%;
        }
    }
    .kv_img_right{
        position: absolute;
        right: -13%;
        bottom: 0;
        z-index: -1;
        width: 52%;
        height: auto;
        // background-image: url(../images/kv/kv_img_right.png);
        // background-repeat: no-repeat;
        // height: 120%;
        // position: absolute;
        // // top: -150px;
        // bottom: 0rem;
        // right: 0px;
        // background-size: cover;
        @include forM(){
            width: 67.5%;
            top: -4rem;
            right: -5rem;
        }
    }
}

