

@mixin forPC {
    @media screen and (min-width: 980px) {
        @content;
    }
}

.section2_block{
    background: black;
    padding: 1rem 2rem 0 2rem;
    color: #fff;
    @include forPC(){
        padding: 2rem 8rem 0 8rem;
    }
    *{
        box-sizing: border-box;
    }
    .introduction{
        .content.bigClassSubtitle{
            margin: 1.5rem 0;
        }
        .subContent{
            border-top: 2px solid rgb(156, 156, 156);
            border-bottom: 2px solid rgb(156, 156, 156);
            color: rgb(156, 156, 156);
            padding: 1rem 0;
        }
    }
    .articleCard{
        display: flex;
        flex-direction: column;
        margin: 1rem 0;
        @include forPC(){
            flex-direction: row;
            flex-wrap: wrap;
            box-sizing: border-box;
        }
        >div{
            margin: 1rem 0;
            @include forPC(){
                width: 48%;
                box-sizing: border-box;
                &:nth-child(odd) {
                    margin-right: 2%
                }
                &:nth-child(even) {
                    margin-left: 2%
                }
            }
        }
        .imgWrap {
            position: relative;
            img{
                width: 100%;
                padding-bottom: 1rem;
            }
            .title.classBetween{
                position: absolute;
                left: 0;
                bottom: 0.25rem;
            }
        }
        .classBetween{
            &.subtitle{
                margin: 1rem 0;
                font-weight: bold;
            }
            &.content{
                color: rgb(156, 156, 156);
                .more{
                    color: #fff;
                    font-weight: bold;
                    margin-left: 0.5rem;
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }
        .content.bigClassSubtitle .more{
            color: #fff;
            &:hover{
                cursor: pointer;
            }
        }
    }
}


// 可能沒用
// 產業研究(跨域)
.cross{
    padding-bottom: 20px;
    .subContent_block{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        .data_box{
            width: 40%;
            display: flex;
            img{
                width: 100%;
                max-width: 250px;
                margin: auto;
            }
        }
        .describe_box{
            width: 60%;
            
            p{
                font-size: 16px;
                color: #000;
                line-height: 1.5;
            }
        }
        .btn_box{
            width: 100%;
            display: flex;
            justify-content: flex-end;
            padding-top: 15px;
        }
        @media screen and (max-width:990px){
            flex-wrap: wrap;
            .data_box{
                width: 100%;
                margin-bottom: 15px;
            }
            .describe_box{
                width: 100%;
            }
        }
    }
}

// 產業研究(出版)
.publish{
   padding: 60px 0;
   .content_txt{
       margin-bottom: 20px;
   }
   .data_img_box{
       margin-bottom: 10px;
       .title{
        font-size: 16px;
        margin-bottom: 10px;
        font-weight: bold;
       }
       img{
           max-width: 100%;
        margin-bottom: 15px;
       }
       span{
        font-size: 14px;
       }
   }
   .btn_box{
        display: flex;
        justify-content: flex-end;
   }
}


// 產業研究(表演藝術)
.performance{
    padding: 40px 0;
    .content_block{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: flex-start;
    }
   .l_box{
       display: inline-block;
       width: calc(100% - 280px);
   }
   .r_box{
        display: inline-block;
        width: 250px;
       img{
           width: 100%;
       }
   }
   @media screen and (max-width:768px){
        .content_block{
            align-items: flex-end;
        }
        .l_box{
            width: calc(70% - 20px);
        }
        .r_box{
            width: 30%;
        }
   }
}

 /* 國際動態(影視) */
.filmSection3{
    padding: 60px 0;
    background: #f3f3f3;
    .content_block{
        display: flex;
        justify-content: space-between;
        // padding-bottom: 40px;
        .l_box{
            width: 30%;
            img{
                width: 100%;
            }
        }
        .r_box{
            width: calc(70% - 15px);
            .btn_box{
                width: 100%;
                display: inline-flex;
                justify-content: flex-end;
            }
        }
    }
    @media screen and (max-width:768px){
        .l_box{
            width: 120px;
        }
        .r_box{
            width: calc(100% - 160px);
        }
    }
}

/* 國際動態(影視) */
.crossSection3Mask{
    padding: 60px 0;
    // background: #f3f3f3;
    .content_txt{
        margin-bottom: 30px;
    }
    .btn_box{
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    @media screen and (max-width:768px){
        .annotation_block{
            padding-left: 40px;
            &::before{
                width: 30px;
                height: 30px;
            }
        }
    }
}